- content_for(:html_title) { "MHS - #{@channel.name}" }
%p#notice= notice
.level
  .level-left
    %h1.title.is-2= @channel.name
%hr/
.columns
  = render 'shared/discussions'
  = render 'discussions/sidebar'
