.box{'id' => 'reply' + reply.id.to_s}
  .media
    %article.media-left
      -#%figure.image.is-48x48= gravatar_image_tag(reply.user.email, class: 'border-radius-50', size: 48, alt: reply.user.username)
    .media-content
      .content
        %p
          %strong
            = reply.user.username
          %small
            = time_ago_in_words(reply.created_at)
          %br/
          = markdown(reply.reply_text)
      - # check user
      - unless reply.parent_id
        .responses{'id' => 'reply' + reply.id.to_s + 'responses'}
          %a.level-item
            = link_to 'reply', new_discussion_reply_path(@discussion, parent_id: reply.id), remote: true, class: 'd-block'
            - if reply.responses.any?
              - reply.responses.each do |reply|
                = render partial: 'replies/reply', locals: { reply: reply }
        %div{:id => "response-form-#{reply.id}"}
    - if reply_author(reply) || admin?
      %nav.level.is-mobile
        .level-left
          %a.level-item
            = link_to edit_discussion_reply_path(reply.discussion, reply), remote: true do
              %span.iscon.is-small
                %i.fa.fa-pencil
          %a.level-item
            = link_to [reply.discussion, reply], method: :delete, remote: true, data: {confirm: "are you sure"} do
              %span.iscon.is-small
                %i.fa.fa-trash-o
